<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOS Optics</title>
</head>
<body>
    <header>
        <div class="navigation">
            <nav>
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Products</a>
                <a href="">Services</a>
                <a href="">Contact</a>
                <a href="">Login</a>
                <a href="">Register</a>
                <a href="">Cart</a>
                <a href="">Logout</a>
            </nav>
        </div>
    </header>
</body>
</html>